/* HERO SECTION */
.home-banner{
  background-color:#CA3604;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}

.intro-banner{
  background-color:#CA3604;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-banner__section1, .intro-banner__section2, .intro-banner__section3
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* IMAGE SLIDER */
.img-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.reveal1{
  height: 30rem;
  border-radius: 20%;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.cta-container{
  background-color: #CA3604;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now{
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  background-color: #F1B84A;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}

.shop-now:hover{
  background-color:#1c5399 ;
}